html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px; /* Padding top is navbar height */
  margin-bottom: 150px; /* Margin bottom is footer height */
}

h1 {
  font-family: 'Signika', sans-serif;
  font-size: 3em;
  color: #0092ce;
}

h2 {
  font-family: 'Signika', sans-serif;
  font-size: 2.5em;
}

.navbar-fixed-top {
  min-height: 80px;
}

.navbar-brand {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0092ce;
  font-family: 'Signika', sans-serif;
  font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
}

.navbar-toggle {
  margin-top: 20px;
}

img.brand {
  height: 60px;
}

#stage {
  position: relative;
  background-image: url('../images/deafindia_elysepatten_flickr.jpg');
  background-size: cover;
  background-position: center;
}

#stage .container {
  min-height: 500px;
  position: relative;
}

#stage .intro {
  width: 60%;
}

#stage h1 {
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px 8px black, -4px -4px 8px black, 4px -4px 8px black, -4px 4px 8px black;
}

#stage .photocredit {
  color: white;
  position: absolute;
  bottom: 0;
  right: 10px;
}

#stage .photocredit a {
  color: white;
  text-decoration: underline;
}

.landing-features {
  padding: 3em 0;
}

.landing-quotes {
  padding: 3em 0;
  background-color: #0092ce;
}

.landing-quotes blockquote {
  font-size: 1.6em;
  color: white;
  border: none;
}

.landing-quotes p {
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  padding-top: 3em;
}

.footer .notices {
  margin: 10px 0;
  text-align: center;
}

.footer small {
  color: gray;
}

.footer .contact {
  margin: 10px 0;
  text-align: center;
}

img.social-media-icon {
  height: 20px;
}

.photo-caption {
  color: #777;
  font-size: 0.9em;
  text-align: center;
}

.sharethis {
  margin: 10px 0;
}

.sharethis span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.4em;
  font-family: serif;
  font-style: italic;
  color: #666;
}

.quote-source {
  text-align: right;
}
