    <footer class="footer">
      <div class="container">
        <div class="contact">
          <a href="mailto:info@globalreachout.org">info@globalreachout.org</a>
          <a href="https://www.facebook.com/globalreachout"><img src="images/facebook.png" alt="Facebook" class="social-media-icon"></a>
          <a href="https://twitter.com/globalreachout"><img src="images/twitter.png" alt="Twitter" class="social-media-icon"></a>
        </div>
        <div class="notices">
          <small>GLOBAL REACH OUT INITIATIVE, INC.</small>
          <small>A non-profit 501(c)(3) tax-exempt organization.</small>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Signika']
        }
      });
    </script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "cebf7a5c-a80f-40b2-9067-ffbc1080c353", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
  </body>
</html>
