{% include top.html %}

    <div id="stage">
      <div class="container">
        <div class="intro">
          <h1>Leadership Skills Center and<br/> Entrepreneurial Hub for the Deaf<br/> in India</h1>
        </div>
        <div class="photocredit">
          <small>Photo by <a href="https://www.flickr.com/photos/elysepatten/">elysepatten</a> @ Flickr</small>
        </div>
      </div>
    </div>

    <div id="main">
      <div class="container">

        {{ page.content }}

      </div>
    </div><!--#main-->

    <footer class="footer">
      <div class="container">
        <div class="notices">
          <small>GLOBAL REACH OUT INITIATIVE, INC.</small>
          <small>A non-profit 501(c)(3) tax-exempt organization.</small>
        </div>
      </div>
    </footer>

{% include bottom.html %}