{% include top.html %}

    <div id="stage">
      <div class="container">
        <div class="intro">
          <h1>Leadership Skills Center and Entrepreneurial Hub for the Deaf in India</h1>
        </div>
        <div class="photocredit">
          <small><a href="https://creativecommons.org/licenses/by-nc/2.0/">Creative Commons</a> Photo by <a href="https://www.flickr.com/photos/elysepatten/">elysepatten</a> @ Flickr</small>
        </div>
      </div>
    </div>

    <div id="main">
      <div class="container">

        {{ page.content }}

      </div>
    </div><!--#main-->

{% include bottom.html %}